.App {}

.controlsContainer {
  text-align: center;
  justify-content: center;
}

.devNotes {
  position: absolute;
  bottom: 0;
}

.video {
  max-width: 720px;
  height: auto;
  border: 5px solid black;
}

.videoContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

#imageBG {
  display: none;
  height: 100%;
  width: 100%;
}